body {
    background-color: rgba(6, 7, 102, 0.479);
}

h1 {
    text-align: center;
    color: rgb(168, 214, 241);
    font-family: Algerian;
}

h2 {
    text-align: center;
    font-family: Algerian;
}

p {
    text-align: center;
    color: whitesmoke;
    font-family: Arial Narrow;
}

ul {
    text-align: center;
}