body {
    height: 1200px;
    width: 1200px;
    margin: 0px auto 0px auto;
    background: lightgray;
}

header {
    text-align: center;
    margin-top: 20px;
}

h1 {
    height: 20px;
    width: 1000px;
    font-family: Algerian;
    text-align: center;
    color: black;
}

h2 {
    margin-top: 70px;
    font-family: Algerian;
    color: black;
}

.cuerpo {
    margin-top: 20px;
    width: 900px;
    height: 250px;
}

.datos {
    margin-top: -250px;
    right: 100px;
    left: 220px;
    float: right;
    color: black;
    width: 1020px;
}

.datos h2 {
    margin-top: 70px;
    color: black;
}

.descripcion {
    margin-top: 10px;
    width: 900px;
    height: 200px;
}

.gustos {
    margin-top: 20px;
    width: 900px;
    height: 300px;
}

.gustos h1 {
    text-align: left;
}

a:hover {
    color: aqua;
}

.menu {
    width: 350px;
    height: 10px;
    float: left;
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    float: right;
}

.menu ul a {
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #ccc;
    color: black;
    background: peru;
}

#frases {
    margin-top: 10px;
}