#llacanora,
#Namora,
#Porcon {
    color: rgb(49, 47, 47)49, 47, 47);
}

body {
    background-color: rgb(59, 228, 87);
}

ul {
    color: black;
}

h1 {
    text-align: center;
    color: blue;
}

h2 {
    color: brown;
}