body {
    width: 1200px;
    height: 10px;
    margin: 0 auto 0 auto;
    background: url(../ImagenesWeb/eapis.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80% 200px;
}

header {
    text-align: center;
    margin-top: 0px;
}

h1 {
    height: px;
    width: 1000px;
    font-family: Algerian;
    text-align: center;
    color: black;
    margin-top: 10px;
}

h2 {
    margin-top: 100px;
    font-family: Algerian;
    color: black;
}

.cuerpo {
    margin-top: 20px;
    width: 900px;
    height: 250px;
}

.datos {
    margin-top: -250px;
    right: 100px;
    left: 220px;
    float: right;
    color: black;
    width: 1020px;
}

.datos h2 {
    margin-top: 70px;
    color: black;
}

.descripcion {
    margin-top: 10px;
    width: 900px;
    height: 200px;
}

.gustos {
    margin-top: 20px;
    width: 900px;
    height: 300px;
}

.gustos h1 {
    text-align: left;
}

a:hover {
    color: aqua;
}

.menu {
    width: 350px;
    height: 50px;
    float: left;
    margin-top: 20px;
}

#frases {
    margin-top: 10px;
}

.img1 {
    position: relative;
    margin-top: 50px;
}

#fo {
    color: white;
    margin-top: 50px;
    width: 1200px;
    height: 80px;
    margin-left: 0px;
    font-family: algerian;
    background: blue;
}

#fo p {
    margin: 0px;
    text-align: center;
}