* {
    margin: 3px;
    padding: 5px
}

body {
    width: 1200px;
    height: 10px;
    margin: 0 auto 0 auto;
    text-align: center;
    background: beige;
}

h1 {
    color: black;
    font-family: Algerian;
}

#oma {
    width: 500px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
}

#con {
    margin-top: -550px;
    float: right;
    color: black;
    margin-left: 900px;
}

#id {
    text-align: center;
}

#fo {
    color: white;
    margin-top: 50px;
    width: 1200px;
    height: 80px;
    margin-left: 0px;
    font-family: algerian;
    background: blue;
}

#fo p {
    margin: 0px;
    text-align: center;
}

a:hover {
    color: black;
}