    #Centros {
        width: 900px;
        height: 1000px;
        border: 1px solid #ccc;
        margin: auto;
    }
    
    body {
        background-color: beige;
    }
    
    header {
        width: 900px;
        height: 100px;
        border: 1px solid #ccc;
    }
    
    #Turismo {
        width: 350px;
        height: 100px;
        float: left;
        text-align: center;
        font-family: Algerian;
    }
    
    .Menu {
        width: 350px;
        height: 40px;
        border: 1px solid beige;
        float: right;
        margin-top: 20px;
    }
    
    .Menu ul {
        list-style: none;
        float: right;
    }
    
    .Menu ul a {
        text-decoration: none;
        padding: 10px 10px;
        border: 1px solid #ccc;
        color: black;
        background: blue;
    }
    
    #imagen {
        margin-top: 10px;
        width: 900px;
        height: 250px;
    }
    
    #lugares {
        width: 900px;
        height: auto;
        overflow: hidden;
        border: 1px solid #ccc;
        margin-top: 10px;
    }
    
    .L1 {
        width: 280px;
        height: 500px;
        border: 1px solid #ccc;
        float: left;
        padding: 5px;
        text-align: center;
    }
    
    .leer-mas {
        text-decoration: none;
        border: 1px solid blue;
        padding: 10px 20px 10px 20px;
        margin: 10px;
    }
    
    #D1 {
        text-align: left;
        float: left;
        width: 280px;
        height: 800px;
        margin-top: 70px;
    }
    
    #D1 h1 {
        font-family: Algerian;
        text-align: center;
    }
    
    #D2 {
        text-align: right;
        float: right;
        width: 280px;
        height: 800px;
        margin-top: 70px;
    }
    
    #D2 h1 {
        font-family: Algerian;
        text-align: center;
    }
    
    #fo {
        color: white;
        margin-top: 50px;
        width: 1500px;
        height: 80px;
        margin-left: 0px;
        font-family: algerian;
        background: blue;
    }
    
    #fo p {
        margin: 0px;
        text-align: center;
    }