body {
    margin: 0 auto 0 auto;
    padding: 5px;
    box-sizing: border-box;
    background: url(../ImagenesWeb/contacto.gif) no-repeat fixed center;
}

header {
    text-align: center;
    margin-top: 0px;
}

.gustos3 {
    width: 100%;
    border: 1px solid rgb(36, 35, 35);
    float: left;
    padding: 5px;
    position: relative;
    background: rgb(36, 35, 35);
}

.a1 {
    width: 20%;
    border: 1px solid rgb(36, 35, 35);
    float: left;
    padding: 1px;
    color: white;
}

.a2 {
    width: 40%;
    border: 1px solid rgb(36, 35, 35);
    float: left;
    padding: 1px;
    color: white;
    padding-left: 150px;
}

.a3 {
    width: 40%;
    border: 1px solid rgb(36, 35, 35);
    float: left;
    padding: 1px;
    color: white;
    padding-left: 150px;
}

.columna h3 {
    font-family: fantasy;
    text-align: center;
    color: white;
}

.columna p {
    font-family: monospace;
}

.columna2 h3 {
    font-family: fantasy;
    text-align: center;
    color: white;
}

.columna2 label {
    font-family: monospace;
}

.columna3 h3 {
    font-family: fantasy;
    text-align: center;
    color: white;
}

.columna3 label {
    font-family: monospace;
}